:root {
  --c-text: #131313;
  --c-active: #0b63f8;

  --c-aside-bg: #ffffff;
  --c-main-bg: #f8f8f8;

  --c-input-bg: #ffffff;
  --c-input: #ada7a7;
  --c-notification-bg: #ffbc0f;

  --c-logo: #013cc6;

  --c-table-text: #000000;
  --c-table: #f2f2f2;

  --c-white: #ffffff;
  --c-dark: #000000;
  --c-green: #21a139;
}
