$breakpoint-phone: 500px;
$breakpoint-laptop: 1024px;
$breakpoint-large-device: 1753px;
$radius-small: 3px;
$spacing-small: 4px;
$spacing-medium: 16px;
$spacing-x-medium: 20px;
$spacing-large: 24px;
$spacing-x-large: 30px;
$spacing-xx-large: 40px;
$spacing-xxx-large: 60px;
$index-default: 5;
